<h1>New Mission Form</h1>

<% if flash[:my_errors] %>
<ul>
    <%= flash[:my_errors].each do |error| %>
    <li><%= error %>
    <% end %>
</ul>
<% end %>

<%= form_for @mission do |f| %>
    <label>Mission Name:</label>
    <%= f.text_field :name %>
    <br>
    <label>Scientist:</label>
    <%= f.collection_select :scientist_id, Scientist.all, :id, :name %>
    <br>
    <label>Planet:</label>
    <%= f.collection_select :planet_id, Planet.all, :id, :name %>

    <%= f.submit %>
<% end %>